@{
    ViewBag.Title = "Home Page";
}


<h1> PAGINA PRINCIPAL</h1>

<style>

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: Helvetica;
        color: #FFF;
        border: none;
    }

    body {
        background-color: #094252;
    }
</style>